* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  margin: 0;
  background-image: url(IMG/WhatsApp\ Image\ 2023-12-22\ at\ 12.34.54_ccf0d265.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100;
  overflow-y: hidden;
  overflow-x: hidden;
}

.container {
    width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
    z-index: 1;
}

.potret1 {
    height: 318px;
    transform: rotate(15deg);
    position: relative;
    display: flex;
    left: -95px;
    top: -29px;
    z-index: 1;
}

.foto1 {
    height: 204px;
    transform: rotate(15deg);
    position: relative;
    top: -301px;
    left: -10px;
    display: flex;
}

.potret2 {
    height: 318px;
    transform: rotate(-8deg);
    position: relative;
    display: flex;
    right: -129px;
    top: -268px;
    z-index: 1;
}

.foto2 {
    height: 204px;
    transform: rotate(-8deg);
    position: relative;
    display: flex;
    right: -199px;
    top: -542px;
}

.element {
    width: 310px;
    display: flex;
    position: relative;
    top: -556px;
    left: -65px;
}