* {
  margin: 0;
  padding: 0;
}

body {
    width: 100vw;
    margin: 0;
    background-image: url(IMG/WhatsApp\ Image\ 2023-12-22\ at\ 12.34.54_ccf0d265.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 61em;
    overflow-y: hidden;
    overflow-x: hidden;
}

@font-face {
    font-family: 'miamaregular';
    src: url('IMG/miama-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.container {
    width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
    z-index: 1;
}

.ucapan {
    position: absolute;
    top: 80px;
    right: 47px;
    font-size: 2.3em;
    font-family: 'miamaregular';
}

.potret1 {
    height: 20em;
    transform: rotate(15deg);
    position: relative;
    display: flex;
    left: -95px;
    top: -29px;
    z-index: 1;
}

.foto1 {
    height: 13em;
    transform: rotate(15deg);
    position: relative;
    top: -303px;
    left: -10px;
    display: flex;
}

.potret2 {
    height: 20em;
    transform: rotate(-8deg);
    position: relative;
    display: flex;
    right: -130px;
    top: -268px;
    z-index: 1;
}

.foto2 {
    height: 204px;
    transform: rotate(-8deg);
    position: relative;
    display: flex;
    right: -200px;
    top: -542px;
}

.element {
    width: 20em;
    display: flex;
    position: relative;
    top: -30em;
    left: -3em;
}