* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url(IMG/WhatsApp\ Image\ 2023-12-22\ at\ 12.34.54_ccf0d265.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

.potret1 {
    height: 460px;
    transform: rotate(15deg);
    /* position: relative;
    left: -143px;
    top: -35px; */
    z-index: 3;
}

.foto1 {
    height: 295px;
    transform: rotate(15deg);
    /* position: relative;
    left: -20px;
    top: -433px; */
    z-index: 1;
}

.potret2 {
    height: 460px;
    transform: rotate(-8deg);
    /* position: relative;
    left: 163px;
    top: -396px; */
    z-index: 4;
}

.foto2 {
    height: 295px;
    transform: rotate(-8deg);
    /* position: relative;
    left: 264px;
    top: -797px; */
    z-index: 2;
}